body{
    margin:0;
    font-family: 'PT Serif', serif;
}
.section-container{
    display: flex;
    align-items: center;
    padding: 50px 100px ;
    margin-bottom: 100px;
}
h1{
    font-size: 60px;
    margin:0;
}
h1 span{
    color:rgb(135, 206, 250);
}
h2{
    font-size: 50px;
    margin-top:0;
}
h2 span{
    color:rgb(135, 206, 250);
}
h3{
    font-size:30px;
    margin-top: 0;
}
p{
    font-size:18px;
    margin: 30px 0px;
    padding-bottom:10px;
}
.single-focus {
    width: 50%;
}
.single-focus h1{
    color:black;
    border-left: 4px solid tomato;
    padding-left:20px;
    margin: 0;
    border-image: linear-gradient(tomato, orange);
    border-image-slice: 1;
}
.single-focus img{
    width:80%;
    padding-left: 5%;
}
.common-button-style{
    text-decoration: none;
    padding:15px 25px;
    background-image: linear-gradient(rgb(135, 206, 250), rgb(65, 105, 225));
    color:#fff;
    border-radius: 5px;
    font-weight: 700;
    margin-top: 10px;
    font-size:16px;
}

/* Mission Area CSS */
.mission-area h1{
    text-align: center;
}
.single-mission{
    padding: 30px 20px;
    margin: 15px;
    height: 400px;
    border-radius: 30px;
    width: 100%;
}
.single-mission p{
    padding-right: 20px;
}
.single-mission img{
    width:50%;
}
#mission{
    background-color: rgba(155, 201, 179, 0.226);
}
#vision{
    background-color: rgba(255, 127, 80, 0.219);
}
#goal{
    background-color:rgba(129, 184, 197, 0.137)
}

/* Develop area css */
.develop-area{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: left center;
}
.single-develop-area{
    width: 50%;
}
.single-develop-area img{
    width: 80%;
}

/* community area css */
.community-area{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: right bottom; 
}
.single-community-area {
    width:50%;
}
.single-community-area img{
    width:80%;
    padding-left: 10%;
}

/* Price area CSS */

.pricing-area h1{
    text-align: center;
}
.single-price{
    width: 100%;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 20px;
    background-color: rgba(155, 201, 179, 0.226);
    box-shadow: 10px 10px 40px #ddd;
}
.single-price h3{
    background-color: rgb(135, 206, 250);
    padding: 30px 0px;
    border-radius: 10px 10px 0px 0px;
    margin-top: -2px;
    color: #fff;
}
.single-price p{
    padding: 0px 20px 20px 0px;
    margin:0;
}
.single-price h4{
    margin: 0;
    padding-bottom: 35px;
    border-bottom: 2px solid #ddd;
    font-size: 30px;
}
.single-price-content{
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.single-price-content ul{
    padding:20px 10px;
}
.single-price-content ul li{
    list-style: none;
    margin: 5px;
    padding:5px;
}

/* Footer area css */

footer{
    text-align: center;
    padding: 50px 0px;
    background-color: #000;
}
footer h1{
    color:#fff;
}

footer p{
    color:lightslategray;
}
